{% load static from staticfiles %}
<html>
  <title>Admin Homepage</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=monospace">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Oxygen&display=swap" rel="stylesheet">
  <style>
    footer {
    display: flex;
    justify-content: left;
    padding: 5px;
    background-color: #45a1ff;
    color: #fff;
    }
    body, html {
    height: 90%;
    font-family: 'Oxygen', sans-serif;
    }
    .bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("{% static 'office.jpg' %}");
    min-height: 75%;
    }
    .menu {
    display: none;
    }
  </style>
  <body >
    <div class="w3-top-center">
      <div class="w3-row w3-padding w3-black">
        <div class="w3-col s3">
          <img src="{% static 'logo.png' %}" style="height: 20%">
        </div>
      </div>
    </div>
    <div class="w3-top" >
      <div class="w3-row w3-padding w3-black">
        <div class="w3-col s3">
          <a href="/Admin/" class="w3-button w3-block w3-black">APPLICATIONS</a>
        </div>
        <div class="w3-col s3">
          <a href="/shortlist/" class="w3-button w3-block w3-black">SHORTLISTED APPLICATIONS</a>
        </div>
        <div class="w3-col s3">
          <a  href="/admin_jobs/" class="w3-button w3-block w3-black">EDIT JOBS</a>
        </div>
      </div>
    </div>
    <header class="bgimg w3-display-container w3-grayscale-min" style="height:100%" id="home">
      <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
      </div>
      <div class="w3-display-middle w3-center" style="font-size:40px;font-weight:600;font-family: 'Oxygen', sans-serif;background-color: rgba(0,0,0, 0.4);width:100%;height:100%;padding-top:8%">
        <span class="w3-text-white  border" style="font-size:90px"><span class="border px-2 heading" style="background-color: rgba(0,0,0, 0.4);">Edit  </span><span class="border  bg-white text-dark px-2 heading">Job</span></span>
      </div>
      <div class="w3-display-bottomright w3-center w3-padding-large">
      </div>
    </header>
    <div class="w3-sand w3-grayscale w3-large">
    <div class="w3-container" id="about">
      <div class="w3-content" style="max-width:700px">
        <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">ADMIN FUNCTIONALITIES</span></h5>
        <div class="modal-body">
                     <form method='POST' action='/add_job/'>
                        {% csrf_token %}
                        <div class="form-group mx-auto">
                           <label for="exampleFormControlInput1">Job title</label>
                           <input type="text" class="form-control" name='name' id="exampleFormControlInput1" >
                        </div>
                        <div class="form-group">
                           <label for="exampleFormControlTextarea1">Job description</label>
                           <textarea class="form-control" name='description' id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="p_scents">
                          <label for="exampleFormControlInput1">Job skills</label>
                          <input type="text" class="form-control" name='skills' id="exampleFormControlInput1" >
                        </div>
                        <div class="modal-footer mx-auto text-center">
                           <div class='text-center mx-auto'></div>
                           <button type="submit" class="btn btn-success mx-atuo px-auto" style='width:40%'>Add job</button>
                           <div class='text-center mx-auto'></div>
                        </div>
                     </form>
                  </div>
                  {% for i in jobs %}
         <div class="border bg-white rounded p-2 mt-2">
            <div class="row" >
               <div class="col-md-9 pl-4">
                <h3 style="font-family: 'Oxygen', sans-serif;">{{i.name}}</h3>
               </div>
               <div class="col-md-2 px-auto mx-auto">
                    <a href='/delete_job/{{i.id}}' class="btn  btn-danger">Remove</a>
               </div>
            </div>
            <div class="col-md-12 text-muted" >
               {{i.description}}
            </div>
         </div>
         {% endfor %}
      </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br>
    <footer>
      Copyright © admin. All rights reserved.
    </footer>
    <script>
    $(document).ready(function() {
   setInterval(function() {
   $("circle").attr("stroke", "white");
     setTimeout(function() {
       $("circle").attr("stroke", "black");
     }, 500);
   }, 1000);
});
      function openMenu(evt, menuName) {
      var i, x, tablinks;
      x = document.getElementsByClassName("menu");
      for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablink");
      for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" w3-dark-grey", "");
      }
      document.getElementById(menuName).style.display = "block";
      evt.currentTarget.firstElementChild.className += " w3-dark-grey";
      }*
      document.getElementById("myLink").click();
    </script>
  </body>
</html>